$maincolor:#1c1e21;
$highlightcolor: #0f62cc;
$darkback: #677b8c;
$lightback: #F5F5F5;

.posts {
    list-style-type: none;
    margin: 0;
}

.post {
    margin: 1rem 0;
    a {
        color: $maincolor;
        background: $lightback;
        padding: 1rem;
        text-decoration: none;
        display: block;
    }
    a:hover{
        color: #ffffff;
        background: $highlightcolor;
    }
    h3 {
        margin-bottom: 0;
    }
}

.tab {
    margin-top:5%;
}

.tile {
    margin: 1rem 0;
    a {
        color: $maincolor;
        border-color: $darkback;
        border-style: solid;
        border-width: 1px;
        padding: 1rem;
        min-height: 6rem;
        text-decoration: none;
        display: block;
    }
    a:hover{
        color: #ffffff;
        background: $highlightcolor;
    }
    h3 {
        margin-bottom: 0;
    }
    .disabled-link {
        pointer-events: none;
      }
}

.section {
    margin-bottom:5%;
}