/* Theme-colors */
$maincolor:#1c1e21;
$highlightcolor: #0f62cc;
$darkback: #677b8c;
$lightback: #F5F5F5;

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "primary": $highlightcolor,
);