/* Theme-colors */
$maincolor:#1c1e21;
$highlightcolor: #78A9f7;
$primary: #4285F4;
$darkback: #383C42;
$lightback: #717884;

/* make the customizations */
$theme-colors: (
    "info": $primary,
    "primary": $primary,
    "success": #0F9D58,
    "secondary": #FFD970,
    "dark": #FFD970,
    "warning": #F4B400,
    "danger": #DB4437,
);