/* Theme-colors */
$maincolor:#1c1e21;
$highlightcolor: #0f62cc;
$darkback: #677b8c;
$lightback: #C8CBD0;

/* make the customizations */
$theme-colors: (
    "info": #67A4F4,
    "primary": $highlightcolor,
    "success": #0E9594,
    "secondary": #F2542D,
);