// Set the Theme-Colors
@import "colors";


.footer {
    margin-top: 4rem;
}

.cta {
    padding: 4%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background: $highlightcolor;
    h2 {
        color: #ffffff;
    }
    p {
        color: #ffffff;
    }
}

.link-item {
    color: $maincolor;
    font-size: .9rem;
    font-weight: 400;
    margin-right: 1.3rem;
    text-decoration: none;
    float: right;
}

.link-item:hover {
    color: $highlightcolor;
    text-decoration: none;
}