// Set the Theme-Colors
@import "colors";

.footer {
  margin-top: 4rem;
}

.link-item {
  color: $maincolor;
  font-weight: 400;
  margin-right: 1.3rem;
  text-decoration: none;
  float: right;
}

.link-item:hover {
  color: $primary;
  text-decoration: none;
}
