// Set the Theme-Colors
@import "colors";

// for form fields in email-signup & self-review
.formfield {
  border: 1px solid #151515;
  border-radius: 6px;
  padding: 0.8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #151515;
  width: 100%;
  max-width: 750px;
}

.formfield::placeholder {
  color: #78a9f7;
}

.fieldtitle {
  line-height: 1;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
