// Set the Theme-Colors
@import "colors";


.navbar {
    background: #ffffff;
}

.container {
    max-width: 900px !important;
}

.title {
    color: $highlightcolor;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}
.title:hover {
    text-decoration: none;
}

.nav-item {
    color: $maincolor;
    font-size: .9rem;
    font-weight: 400;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: $highlightcolor;
    text-decoration: none;
}

.nav-button {
    color: $maincolor;
    font-size: .9rem;
    font-weight: 400;
    margin-right: 1.3rem;
    text-decoration: none;
    padding: .3rem .6rem;
    border: 2px solid $maincolor;
    border-radius: 6px;
}

.nav-button:hover {
    color: $highlightcolor;
    border-color: $highlightcolor;
    text-decoration: none;
}

.navbar-toggler {
    border: 0 !important;
}
