$maincolor:#1c1e21;
$highlightcolor: #0f62cc;
$darkback: #677b8c;
$lightback: #F5F5F5;

.header {
    padding: 1rem 0 3rem;
}

.title {
    color: $highlightcolor;
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: $maincolor;
    font-size: .9rem;
    font-weight: 400;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: $highlightcolor;
}
