// Set the Theme-Colors
@import "colors";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Re-Style Bootstrap
p,
li {
  font-size: 1.2rem;
  line-height: 1.7;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 1.6rem;
  font-weight: 700;
}

hr {
  border-color: $primary;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.btn {
  font-weight: bold;
  padding: 0.4rem 0.75rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 0.8rem;
  min-width: 14rem;
}

.badge {
  font-size: 1rem;
  text-transform: uppercase;
}

.nav-tabs {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.nav-link {
  color: $maincolor;
  font-size: 1.4rem;
}

.nav-link.active {
  color: $primary !important;
}

.navbar-toggler {
  border: 0 !important;
}

// Create Custom Styles

.mintitle {
  font-weight: 500;
  color: $primary;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.feature-h {
  font-size: 3rem;
}

.feature-num {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 0.4rem;
}

.feature-text {
  margin-bottom: 0.6rem;
  line-height: 1.2;
}

.tutsegment {
  border: 1px solid $primary;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

// Re-Style KaTex
.katex {
  margin: 3rem 0;
  font-family: $font-family-base !important;
  font-weight: 500 !important;
}

// Mobilize
@media (max-width: 800px) {
  h1 {
    font-size: 2.8rem;
  }
}
