.btn {
  font-weight: bold;
  padding: 0.6rem 0.8rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  min-width: 14rem;
}

.nav-tabs {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.nav-link {
  color: $maincolor;
  font-size: 1.4rem;
}

.nav-link.active {
  color: $primary !important;
}

.navbar-toggler {
  border: 0 !important;
}

.area-blue {
  padding: 1rem;
  border-radius: 6px;
  background: #d9e6fc;
  max-width: 750px;
  margin-bottom: 1rem;
}

.area-grey {
  padding: 1rem;
  border-radius: 6px;
  background: #ebebeb;
  max-width: 750px;
  margin-top: 2rem;
}

.area-white {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid $maincolor;
  max-width: 750px;
}

.bordered-blue {
  border: 1px solid $primary;
  border-radius: 6px;
  padding: 1rem;
  margin-top: 4rem;
}
