// Set the Theme-Colors
@import "colors";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Re-Style Bootstrap

a:hover {
  text-decoration: none;
}

p,
a {
  font-size: 1.2rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

hr {
  border-color: $maincolor;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn {
  font-weight: bold;
  padding: 0.6rem 0.8rem;
}

.btn-lg {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  min-width: 14rem;
}

.nav-tabs {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.nav-link {
  color: $maincolor;
  font-size: 1.4rem;
}

.nav-link.active {
  color: $primary !important;
}

.navbar-toggler {
  border: 0 !important;
}

// Create Custom Styles

.subtitle {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.mintitle {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0rem;
  margin-top: 2rem;
  line-height: 1.2;
  font-size: 1.2rem;
  color: $primary;
}

.feature-num {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1;
  margin-right: 0.4rem;
}

.title-emoji {
  font-size: 4rem;
}

.feature-text {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

// Re-Style KaTex
.katex {
  margin: 3rem 0;
  font-family: $font-family-base !important;
  font-weight: 500 !important;
}

// Mobilize
@media (max-width: 800px) {
  h1 {
    font-size: 2.8rem;
  }
}

.chip {
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
  & p:hover {
    border-color: #4285f4;
    color: #4285f4;
  }
  > input {
    display: none;
  }
  > input:checked + p {
    border-color: #4285f4;
    color: #4285f4;
  }
  > p {
    background: #ffffff;
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid #151515;
    margin-bottom: 0;
  }
}

.area-blue {
  padding: 1rem;
  border-radius: 6px;
  background: #d9e6fc;
  max-width: 750px;
  margin-bottom: 1rem;
}

.area-grey {
  padding: 1rem;
  border-radius: 6px;
  background: #ebebeb;
  max-width: 750px;
  margin-top: 2rem;
}

.area-white {
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid $maincolor;
  max-width: 750px;
}

.bordered-blue {
  border: 1px solid $primary;
  border-radius: 6px;
  padding: 1rem;
  margin-top:4rem;
}
