.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #151515;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-button {
  padding: 0.8rem 2rem;
  margin: 0.8rem 0.8rem 0.8rem 0rem;
  font-weight: 700;
  background-color: #e9c46a;
  color: #264653;
  border-radius: 4px;
  border: none;
  :hover {
    background-color: #e76f51;
  }
}

@media only screen and (max-width: 50em) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 0.4rem 0;
    padding: 0 4rem;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    background: #ffffff;
    border: 0;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
